<footer class="footer">
  <div class="col-md-3 offset-9">
    <%= "#{Time.now.year}" %>  <i class="far fa-copyright"></i>ALL RIGHT RESERVED
    <%= link_to 'https://github.com/woobaik' do %>
      <i class="fab fa-github-square fa-2x mx-3 site-icons"></i>
    <% end %>
    <%= link_to '<i class="fab fa-linkedin fa-2x mx-3 site-icons"></i>'.html_safe, 'https://www.linkedin.com/in/joungwoo-baik-1a3214143/'%>
  </div>
</footer>
