    <h1 class="display-2 home-title text-center">HI! I'M <span id="my-name">JOUNGWOO BAIK.</span></h1>
    <hr class="my-4">
    <h4 class="text-center">WEB DEVELOPER FROM SF</h4>
    <hr class="my-4">
    <hr class="my-4">
    <hr class="my-4">
    <div class="text-center">
      <%= link_to 'https://github.com/woobaik' do %>
        <i class="fab fa-github-square fa-5x mx-3 site-icons"></i>
      <% end %>
      <%= link_to '<i class="fab fa-linkedin fa-5x mx-3 site-icons"></i>'.html_safe, 'https://www.linkedin.com/in/joungwoo-baik-1a3214143/'%>
      
    </div>
    <hr class="my-4">
    <div class="text-center">
      <%= link_to "Hire Me", pages_contact_path, class: "btn btn-primary btn-lg hire-me-btn" %>
    </div>
