<div class="container">
  <div class="jumbotron custom-jumbotron">
    <h1 class="display-2 home-title">HI! I'M <span id="my-name">JOUNGWOO BAIK.</span></h1>
    <h4 class="text-right">WEB DEVELOPER FROM SF</h4>
    <hr class="my-4">
    <hr class="my-4">
    <a class="btn btn-primary btn-lg hire-me-btn" href="#" role="button">hire me</a>
  </div>
  
</div>
