@import "font-awesome-sprockets";
@import "font-awesome";
@import 'bootstrap';
@import 'jquery-ui';
@import "/\*";
/* Coolors Exported Palette - coolors.co/f8ffe5-06d6a0-1b9aaa-ef476f-ffc43d */

/* HSL */
$color1: #080705;
$color2: #40434E;
$color3: #702632;
$color4: #912F40;
$color5: #FFFFFA;

body {
  background: url('my-computer.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, .7);
  background-blend-mode: darken;
}


.custom-nav {
  background-color: transparent;
  height: 15vh;
  font-family: 'Montserrat', sans-serif;
}

.custom-nav-brand {
  color: $color5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3em;


}
.custom-nav-brand:hover {
  color: $color4;
  text-decoration: none;
}

.nav-link {
  color: $color4;
  font-family: 'Montserrat', sans-serif;
}
.nav-link:hover {
  color: #FFFFFA;
}

.custom-nav-toggler {
  color: white;
}

p.notice, p.alert {
  margin-bottom: 0;
}

.hire-me-btn {
  font-family: 'Montserrat', sans-serif;
}
.dropdown {
    .dropdown-menu {
        transition: all 0.5s;
        overflow: hidden;
        transform-origin: top center;
        transform: scale(1,0);
        display: block;
    }
    &:hover {
        .dropdown-menu {
            transform: scale(1);
        }
    }
}

.current-user-display {
    color: $color5;
    font-family: 'Luckiest Guy', cursive;
}


#forgot-password {
  color: #DDD92A;
}

.site-icons {
  color: $color5;
}

.custom-footer {
  color: $color5;
  font-size: 1em;
}

.html-tag {
  color: #9BC53D;
  font-size: 20px;
}
