// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'gritter';


.home-body {
  background: url('my-computer.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, .7);
  background-blend-mode: darken;
}

.custom-jumbotron {
  background: rgba(204, 204, 204, 0.2);
  color: #FFFFFA;
  margin-top: 30px;
}

.home-title {
  font-family: 'Bangers', cursive;
}

#my-name {
  color: #0197F6
}

.card-deck {
  color: black;
}

.tech-news {
  color: black
}

.tech-tweet-card {
  margin-top: 20px;
  padding: 10px;
}
