// Place all the styles related to the Portfols controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-indicators .active {
    background-color: #912F40;
}

.carousel-indicators li {
    width: 20px;
    height: 12px;
    background-color: #404040;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #0197F6;
  background-size: 100%, 100%;
}

.portfol-title {
  font-size: 2em;
  font-family: 'Luckiest Guy', cursive;
}


.portfol-subtitle {
  color: black;
  font-family: 'Luckiest Guy', cursive;
}

.card-title {
  color: black;
  font-family: 'Luckiest Guy', cursive;
}

.portfol-show-all {
  font-family: 'Montserrat', sans-serif;
}

.portfol-show-title {
  color: #0197F6;
  font-family: 'Luckiest Guy', cursive;
}
